CLIENT_ID=your-oauth-provider-client-id
CLIENT_SECRET=your-oauth-provider-client-secret
APP_H2_PASS=
MYSQL_ROOT_PASSWORD=

PYROSCOPE_APPLICATION_NAME=my.java.app
PYROSCOPE_SERVER_ADDRESS=http://localhost:4040
PYROSCOPE_PROFILER_TYPE=JFR