<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Boot defaults keep logging.pattern.correlation working on the console. -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="appName"
                    source="spring.application.name" defaultValue="spring-modulith-kotlin"/>
    <springProperty scope="context" name="lokiUrl"
                    source="loki.url" defaultValue="http://localhost:3100"/>

    <!-- Log shipping is only wired up where a Loki instance is expected to exist. -->
    <springProfile name="local,docker">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <labels>
                app=${appName}
                host=${HOSTNAME}
                level=%level
            </labels>
            <message>
                <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [${appName},%X{traceId:-},%X{spanId:-}] [%thread] %logger{40} - %msg%n%ex</pattern>
            </message>
            <http>
                <url>${lokiUrl}/loki/api/v1/push</url>
                <connectionTimeoutMs>5000</connectionTimeoutMs>
                <requestTimeoutMs>10000</requestTimeoutMs>
                <maxRetries>2</maxRetries>
                <minRetryBackoffMs>500</minRetryBackoffMs>
                <maxRetryBackoffMs>5000</maxRetryBackoffMs>
            </http>
            <batch>
                <maxItems>1000</maxItems>
                <timeoutMs>5000</timeoutMs>
                <drainOnStop>true</drainOnStop>
            </batch>
            <verbose>false</verbose>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <springProfile name="local,docker">
            <appender-ref ref="LOKI"/>
        </springProfile>
    </root>
</configuration>
