<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<div id="page" layout:fragment="content">
    <div class="container">
        <div class="mt-5">
            <div class="text-center hero my-5">
                <img class="mb-3 app-logo" src="/images/logo.png" alt="Spring logo" width="120"/>
                <h1 class="mb-4">Spring Boot Login Sample Project</h1>
                <p class="lead">
                    This is a sample application that demonstrates an authentication flow for a MVC web application
                    using Spring Boot.
                </p>
            </div>

            <hr/>

            <div class="next-steps my-5 row">
                <div class="card col-6 p-0">
                    <div class="card-header">
                        API Document
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Swagger UI page</h5>
                        <p class="card-text">Listing all supported API by service</p>
                        <a th:href="@{/swagger-ui/index.html}" class="btn btn-primary">Go</a>
                    </div>
                </div>
                <div class="card col-6 p-0">
                    <div class="card-header">
                        Single page application
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Angular Material Playground</h5>
                        <p class="card-text">SPA app using this API power by Angular</p>
                        <a href="https://hvhai.github.io/angular-material-playground" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>