<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<div id="page" layout:fragment="content">
    <div class="container">
        <div class="mt-5">
            <div class="container">
                <div class="row">
                    <div th:utext="${content}"></div>
                </div>
                <div class="row">
                    <ul th:fragment="fragment_node(noteTree)" th:unless="${#lists.isEmpty(noteTree.children)}" >
                        <li th:each="child : ${noteTree.children}" th:inline="text">
                            [[${child.fileName}]]
                            <ul th:replace="~{this::fragment_node(${child})}"></ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</html>